# Node
agendaMedicoFront/node_modules/
agendaMedicoFront/dist/

# Angular
agendaMedicoFront/.angular/
agendaMedicoFront/.vscode/

# .NET
agendaMedicoBack/bin/
agendaMedicoBack/obj/

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log

# Env
.env