USE [master]
GO
/****** Object:  Database [CitaSalud]    Script Date: 18/03/2026 04:35:54 p. m. ******/
CREATE DATABASE [CitaSalud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CitaSalud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CitaSalud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CitaSalud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CitaSalud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CitaSalud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CitaSalud]
GO
/****** Object:  Table [dbo].[CatalogoEspecialidad]    Script Date: 18/03/2026 04:35:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogoEspecialidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreEspecialidad] [nvarchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 18/03/2026 04:35:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicoId] [int] NOT NULL,
	[PacienteId] [int] NOT NULL,
	[FechaHoraInicio] [datetime2](7) NOT NULL,
	[FechaHoraFin] [datetime2](7) NOT NULL,
	[Motivo] [nvarchar](250) NOT NULL,
	[Estado] [int] NOT NULL,
	[MotivoCancelacion] [nvarchar](250) NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DuracionEspecialidad]    Script Date: 18/03/2026 04:35:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuracionEspecialidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fk_IdEspecialidad] [int] NOT NULL,
	[DuracionMinutos] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorariosMedico]    Script Date: 18/03/2026 04:35:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorariosMedico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicoId] [int] NOT NULL,
	[DiaSemana] [int] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 18/03/2026 04:35:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Fk_IdEspecialidad] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 18/03/2026 04:35:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[CorreoElectronico] [nvarchar](150) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CatalogoEspecialidad] ON 

INSERT [dbo].[CatalogoEspecialidad] ([Id], [NombreEspecialidad], [Activo]) VALUES (1, N'Medicina General', 1)
INSERT [dbo].[CatalogoEspecialidad] ([Id], [NombreEspecialidad], [Activo]) VALUES (2, N'Cardiología', 1)
INSERT [dbo].[CatalogoEspecialidad] ([Id], [NombreEspecialidad], [Activo]) VALUES (3, N'Cirugía', 1)
SET IDENTITY_INSERT [dbo].[CatalogoEspecialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Citas] ON 

INSERT [dbo].[Citas] ([Id], [MedicoId], [PacienteId], [FechaHoraInicio], [FechaHoraFin], [Motivo], [Estado], [MotivoCancelacion], [FechaRegistro]) VALUES (1, 2, 1, CAST(N'2026-03-23T11:00:00.0000000' AS DateTime2), CAST(N'2026-03-23T11:45:00.0000000' AS DateTime2), N'Se necesita  una vision', 2, N'Error de dia de cita', CAST(N'2026-03-18T15:45:38.7935511' AS DateTime2))
INSERT [dbo].[Citas] ([Id], [MedicoId], [PacienteId], [FechaHoraInicio], [FechaHoraFin], [Motivo], [Estado], [MotivoCancelacion], [FechaRegistro]) VALUES (2, 2, 1, CAST(N'2026-03-23T12:10:00.0000000' AS DateTime2), CAST(N'2026-03-23T12:55:00.0000000' AS DateTime2), N'Estra', 2, N'dhdhdh', CAST(N'2026-03-18T16:53:52.7592790' AS DateTime2))
INSERT [dbo].[Citas] ([Id], [MedicoId], [PacienteId], [FechaHoraInicio], [FechaHoraFin], [Motivo], [Estado], [MotivoCancelacion], [FechaRegistro]) VALUES (3, 2, 1, CAST(N'2026-03-19T13:00:00.0000000' AS DateTime2), CAST(N'2026-03-19T13:45:00.0000000' AS DateTime2), N'sdfhsjdfj', 2, N'ddje', CAST(N'2026-03-18T16:55:59.9165928' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Citas] OFF
GO
SET IDENTITY_INSERT [dbo].[DuracionEspecialidad] ON 

INSERT [dbo].[DuracionEspecialidad] ([Id], [Fk_IdEspecialidad], [DuracionMinutos], [Activo]) VALUES (1, 1, 20, 1)
INSERT [dbo].[DuracionEspecialidad] ([Id], [Fk_IdEspecialidad], [DuracionMinutos], [Activo]) VALUES (2, 2, 30, 1)
INSERT [dbo].[DuracionEspecialidad] ([Id], [Fk_IdEspecialidad], [DuracionMinutos], [Activo]) VALUES (3, 3, 45, 1)
SET IDENTITY_INSERT [dbo].[DuracionEspecialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[HorariosMedico] ON 

INSERT [dbo].[HorariosMedico] ([Id], [MedicoId], [DiaSemana], [HoraInicio], [HoraFin]) VALUES (1, 2, 1, CAST(N'10:20:00' AS Time), CAST(N'13:00:00' AS Time))
INSERT [dbo].[HorariosMedico] ([Id], [MedicoId], [DiaSemana], [HoraInicio], [HoraFin]) VALUES (2, 2, 4, CAST(N'08:00:00' AS Time), CAST(N'15:00:00' AS Time))
INSERT [dbo].[HorariosMedico] ([Id], [MedicoId], [DiaSemana], [HoraInicio], [HoraFin]) VALUES (3, 2, 3, CAST(N'08:00:00' AS Time), CAST(N'15:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[HorariosMedico] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicos] ON 

INSERT [dbo].[Medicos] ([Id], [Nombre], [Fk_IdEspecialidad], [Activo]) VALUES (1, N'retret', 2, 0)
INSERT [dbo].[Medicos] ([Id], [Nombre], [Fk_IdEspecialidad], [Activo]) VALUES (2, N'vcbcvbcvb', 3, 1)
INSERT [dbo].[Medicos] ([Id], [Nombre], [Fk_IdEspecialidad], [Activo]) VALUES (3, N'wtwetwe', 4, 0)
SET IDENTITY_INSERT [dbo].[Medicos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pacientes] ON 

INSERT [dbo].[Pacientes] ([Id], [Nombre], [FechaNacimiento], [Telefono], [CorreoElectronico], [Activo]) VALUES (1, N'Paciente 1', CAST(N'1997-10-10' AS Date), N'2222222222', N'sadd.sss@ddd.xom', 1)
SET IDENTITY_INSERT [dbo].[Pacientes] OFF
GO
ALTER TABLE [dbo].[CatalogoEspecialidad] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[DuracionEspecialidad] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Medicos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Pacientes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Medicos] FOREIGN KEY([MedicoId])
REFERENCES [dbo].[Medicos] ([Id])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Medicos]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Pacientes] FOREIGN KEY([PacienteId])
REFERENCES [dbo].[Pacientes] ([Id])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Pacientes]
GO
ALTER TABLE [dbo].[DuracionEspecialidad]  WITH CHECK ADD  CONSTRAINT [FK_DuracionEspecialidad_CatalogoEspecialidad] FOREIGN KEY([Fk_IdEspecialidad])
REFERENCES [dbo].[CatalogoEspecialidad] ([Id])
GO
ALTER TABLE [dbo].[DuracionEspecialidad] CHECK CONSTRAINT [FK_DuracionEspecialidad_CatalogoEspecialidad]
GO
ALTER TABLE [dbo].[HorariosMedico]  WITH CHECK ADD  CONSTRAINT [FK_HorariosMedico_Medicos] FOREIGN KEY([MedicoId])
REFERENCES [dbo].[Medicos] ([Id])
GO
ALTER TABLE [dbo].[HorariosMedico] CHECK CONSTRAINT [FK_HorariosMedico_Medicos]
GO
ALTER TABLE [dbo].[Medicos]  WITH CHECK ADD  CONSTRAINT [FK_Medicos_CatalogoEspecialidad] FOREIGN KEY([Fk_IdEspecialidad])
REFERENCES [dbo].[CatalogoEspecialidad] ([Id])
GO
ALTER TABLE [dbo].[Medicos] CHECK CONSTRAINT [FK_Medicos_CatalogoEspecialidad]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerAgendaMedicoPorRango]    Script Date: 18/03/2026 04:35:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerAgendaMedicoPorRango]
    @MedicoId INT,
    @FechaInicio DATE,
    @FechaFin DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Inicio DATETIME2 = CAST(@FechaInicio AS DATETIME2);
    DECLARE @Fin DATETIME2 = DATEADD(DAY, 1, CAST(@FechaFin AS DATETIME2));

    SELECT
        c.Id,
        c.MedicoId,
        m.Nombre AS Medico,
        c.PacienteId,
        p.Nombre AS Paciente,
        c.FechaHoraInicio,
        c.FechaHoraFin,
        c.Motivo,
        CASE c.Estado
            WHEN 1 THEN 'Agendada'
            WHEN 2 THEN 'Cancelada'
            WHEN 3 THEN 'Completada'
            ELSE 'Desconocido'
        END AS Estado
    FROM Citas c
    INNER JOIN Medicos m ON c.MedicoId = m.Id
    INNER JOIN Pacientes p ON c.PacienteId = p.Id
    WHERE c.MedicoId = @MedicoId
      AND c.FechaHoraInicio >= @Inicio
      AND c.FechaHoraInicio < @Fin
    ORDER BY c.FechaHoraInicio;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ResumenDashboard]    Script Date: 18/03/2026 04:35:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ResumenDashboard]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Hoy DATE = CAST(GETDATE() AS DATE);
    DECLARE @Manana DATE = DATEADD(DAY, 1, @Hoy);

    SELECT
        (SELECT COUNT(*) FROM Medicos WHERE Activo = 1) AS TotalMedicos,
        (SELECT COUNT(*) FROM Pacientes WHERE Activo = 1) AS TotalPacientes,
        (SELECT COUNT(*) FROM Citas WHERE FechaHoraInicio >= @Hoy AND FechaHoraInicio < @Manana) AS TotalCitasHoy,
        (SELECT COUNT(*) FROM Citas WHERE Estado = 2) AS TotalCitasCanceladas;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarDisponibilidadMedico]    Script Date: 18/03/2026 04:35:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ValidarDisponibilidadMedico]
    @MedicoId INT,
    @FechaHoraInicio DATETIME2,
    @FechaHoraFin DATETIME2
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM Citas
        WHERE MedicoId = @MedicoId
          AND Estado = 1
          AND @FechaHoraInicio < FechaHoraFin
          AND @FechaHoraFin > FechaHoraInicio
    )
    BEGIN
        SELECT CAST(0 AS BIT) AS Disponible;
        RETURN;
    END

    SELECT CAST(1 AS BIT) AS Disponible;
END;
GO
USE [master]
GO
